Source: gprolog-php-cx
Section: devel
Priority: optional
Maintainer: Salvador Abreu <spa@debian.org>
Standards-Version: 3.6
Build-Depends: gprolog-cx, php4-dev | php5-dev, debhelper, autoconf

Package: gprolog-php-cx
Architecture: any
Depends: ${shlibs:Depends}, gprolog-cx (>=1.2.18), php4 | php5
Conflicts:
Description: PHP interface to GNU Prolog.
